@CHARSET "ISO-8859-1";

*, html, body {
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
}

body {
	padding-top: 50px;
	overflow-x: hidden;
}

.content {
	border-left: 1px solid #ddd;
}

@media all and (min-width: 992px) {
	.col-md-2a {
		width: 13%;
	}
	.col-md-10a {
		width: 87%;
	}
}

/* Sideber Styles   
----------------------------------*/
.anchorific-wrapper {
	position: fixed !important;
	overflow-y: scroll !important;
	height: 100%;
	margin-left: -15px;
	padding-left: 15px;
	top: 50px;
	border-bottom: 50px solid transparent;
}

.anchorific {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	height: 0 !important;
	word-wrap: break-word;
	word-break: break-all;
	-ms-word-wrap: break-word;
	-ms-word-break: break-all;
}

.anchorific ul {
	cursor: pointer;
	list-style-type: none;
	padding: 0px 0px 25px 0px;
	margin: 0px 0px 0px 0px;
}

.anchorific ul li {
	padding: 0px 0px 0px 0px;
	margin: 15px 0px 0px 0px;
}

.anchorific ul li ul li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.anchorific ul li a {
	color: #7ccfaf;
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 25px;
}

.anchorific ul li>a:hover {
	color: #3AB4A0;
	text-decoration: none;
}

.anchorific ul li.active>a {
	color: #7ccfaf;
	text-decoration: none;
}

.anchorific ul li ul {
	cursor: pointer;
	list-style-type: none;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.anchorific ul li ul li a {
	color: #686f80;
	font-family: Titillium Text, Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-transform: none;
	font-size: 15px;
	font-weight: 600;
	display: block;
	border-left: 2px solid #e0e2e8;
	padding: 4px 10px 4px 10px;
	margin: 0px 0px 0px 0px;
	line-height: 22px;
}

.anchorific ul li ul li>a:hover {
	color: #5ba4e5;
	border-left: 2px solid #5ba4e5;
	text-decoration: none;
}

.anchorific ul li ul li.active>a {
	background-color: #f3f4f6;
	color: #3b4151;
	border-left: 2px solid #5ba4e5;
	text-decoration: none;
	margin-right: 15px;
}

/* Apidox Styles
----------------------------------*/
.apidox-container {
	border-bottom: 1px solid #ddd;
}

.apidox-section-sidebar {
	position: absolute;
	top: 0;
	right: 0;
	background: #2b2f3e;
	min-height: 100%;
	z-index: -999;
}

.apidox-section-application {
	
}

.apidox-section-service {
	margin-top: 20px;
	padding: 0px 0px 0px 0px;
}

@media all and (max-width: 991px) {
	.apidox-section-service {
		float: none !important;
		background: #2b2f3e;
	}
}

.apidox-section-header {
	
}

.apidox-section-endpoint {
	color: #3c4151;
	margin-top: 0px;
}

.apidox-section-method {
	
}

.apidox-section-params {
	margin-top: 0px;
}

.apidox-section-response {
	margin-top: 0px;
	padding: 0px 0px 0px 0px;
	border-top: 1px solid #3a3e4d;
}

@media all and (max-width: 991px) {
	.apidox-section-response {
		float: none !important;
		background: #2b2f3e;
		margin-top: 20px;
	}
}

.apidox-section-information {
	border-bottom: 1px solid #dce0eb;
	padding-bottom: 100px;
}

.apidox-section-information.last {
	border: 0;
}

.apidox-content-information {
	margin-top: 20px;
}

.apidox-section-footer {
	padding-bottom: 50px;
}

/* Apidox Styles
----------------------------------*/
.apidox-nav {
	background: #4c5264;
	border-bottom: 1px solid #4c5264;
	color: #fff;
}

.apidox-nav span {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
}

.apidox-powered, .apidox-powered:hover {
	float: right;
	height: 50px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.apidox-powered span.powered {
	display: block;
	vertical-align: middle;
	text-align: right;
	margin: 5px 0px 0px 0px;
}

.apidox-powered  span.credits {
	display: block;
	vertical-align: middle;
	text-align: right;
	color: #959cad;
	font-size: 14px;
	font-weight: 400;
}

.apidox-application {
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	color: #3c4151;
	margin: 20px 0px 10px 0px;
	line-height: 36px;
	color: #3c4151;
}

.apidox-application div.version {
	float: right;
}

.apidox-application div.version span {
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	padding: 3px 7px 3px 7px;
	margin: 0px 8px 0px 8px;
	border: 2px solid #dce0eb;
	border-radius: 4px;
	color: #686f80;
}

.apidox-application div.title {
	float: left;
	font-size: 30px;
	font-weight: 700;
}

.apidox-application div.total {
	float: right;
}

.apidox-application div.total span {
	background: #5ba4e5;
	border: 2px solid #5ba4e5;
	border-radius: 4px;
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-weight: normal;
	padding: 1px 6px 1px 6px;
	margin: 0px 0px 0px 0px;
	color: #ffffff;
}

.apidox-service {
	background: #2b2f3e none repeat scroll 0 0;
	border-top: 1px solid #3a3e4d;
	border-bottom: 1px solid #3a3e4d;
	color: #fff;
}

.apidox-service div.title {
	color: #fff;
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 600;
	border-bottom: 1px solid #3a3e4d;
	padding: 5px 15px 5px 15px;
	margin: 0px 0px 0px 0px;
}

.apidox-service div.control {
	position: relative;
}

.apidox-service input {
	background-color: #262c39;
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-size: 14px;
	width: 100%;
	color: #fc9;
	border: 0 none;
	padding: 10px 15px 10px 15px;
	margin: 0px 0px 0px 0px;
}

.apidox-service a.restore {
	background-color: #262c39;
	color: #959cad;
	border: 0 none;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 12px 16px 12px 12px;
	margin: 0px 0px 0px 0px;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	font-weight: normal;
}

.apidox-service a.restore:hover {
	background-color: #262c39;
	color: #ffffff;
}

.apidox-endpoint {
	background: #7d8492;
	height: 50px;
	line-height: 50px;
	padding: 0px 0px 0px 0px;
	margin: 0px -15px 0px -15px;
	border-left: 5px solid #7ccfaf;
	display: block;
}

.apidox-endpoint div.prefix {
	display: inline;
}

.apidox-endpoint h1 {
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: 600;
	color: #ffffff;
	line-height: 50px;
	padding: 70px 0px 0px 15px;
	margin: -70px 0px 0px 0px;
	display: inline;
}

.apidox-endpoint div.total {
	display: inline;
	float: right;
}

.apidox-endpoint div.total span {
	background: #7ccfaf;
	border: 2px solid #7ccfaf;
	border-radius: 4px;
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-weight: normal;
	color: #ffffff;
	padding: 1px 6px 1px 6px;
	margin: 0px 15px 0px 15px;
}

.apidox-method {
	padding: 0px 0px 0px 0px;
	margin: 15px 0px 0px 0px;
	line-height: 50px;
	dispay: block;
}

.apidox-method div.protocol {
	padding: 60px 0px 0px 0px;
	margin: -60px 0px 0px 0px;
	display: inline-block;
}

.apidox-method div.protocol span {
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: 300;
	padding: 0px 5px 0px 15px;
	margin: 0px 0px 0px 0px;
	border-left: 5px solid #5ba4e5;
}

.apidox-method h2 {
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: 300;
	padding: 60px 0px 0px 0px;
	margin: -60px 0px 0px 0px;
	line-height: 50px;
	display: inline-block;
}

.apidox-method .deprecated {
	text-decoration: line-through;
}

.apidox-reference {
	color: #7ccfaf;
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0px 0px 0px 0px;
	margin: 16px 0px 4px 0px;
}

.apidox-description p {
	font-family: TisaPro, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 175%;
	text-align: left;
}

.apidox-parameters {
	border: 0px none !important;
	width: 100%;
}

apidox-parameters table {
	border: 0px none !important;
}

.apidox-parameters tr {
	border: 0px none;
}

.apidox-parameters td {
	border: 0px none;
	padding: 6px 15px 6px 15px;
	font-size: 14px;
	font-weight: 400;
	border-top: 1px solid #dce0eb;
}

.apidox-parameters td p {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.apidox-parameters tr:first-child td {
	border-top: 0px none;
}

.apidox-parameters td.field {
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
	font-weight: 500;
}

.apidox-parameters td.value {
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-size: 14px;
	white-space: nowrap;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 25%;
	min-width: 100px;
}

.apidox-parameters td.type {
	white-space: nowrap;
}

.apidox-parameters td.required {
	font-weight: bold;
}

.apidox-parameters td.description {
	color: #686f80;
	width: 75%;
}

.apidox-parameters input {
	width: 100%;
	border: 0px none;
	line-height: 23px;
	height: 23px;
	vertical-align: middle;
	background: #f0f1f4;
	padding: 0px 0px 0px 4px;
}

.apidox-file {
	width: 100%;
	background: #f0f1f4;
}

.apidox-file span {
	font-family: "Source Code Pro", Monaco, Lucida Console, Terminal,
		monospace;
	font-size: 14px;
	position: relative;
	width: 100%;
	height: 22px;
	line-height: 22px;
	background: #f0f1f4;
	padding: 0px 0px 0px 5px;
	margin: 0px 0px 0px 0px;
	line-height: 22px;
}

.apidox-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.apidox-parameters select {
	width: 100%;
}

.apidox-parameters table.values {
	border: 0px none;
	padding: 0px 0px 0px 0px;
	margin: 5px 5px 0px 5px;
	color: #686f80;
}

.apidox-parameters table.values td {
	border: 0px none;
	padding: 4px 6px 4px 6px;
}

.apidox-parameters table.values tr {
	border: 0px none;
	border-top: 1px solid #dce0eb;
}

.apidox-parameters table.values tr:first-child {
	border-top: 0px none;
}

.apidox-try {
	padding: 0px 0px 0px 0px;
	margin: 15px 0px 0px 0px;
	height: 48px;
	display: block;
}

.apidox-try a {
	background-color: #3f4555;
	border-color: #3f4555;
	color: #dbdfeb;
	height: 42px;
	display: inline;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 10px 8px 10px;
	margin: 0px 0px 0px 0px;
}

.apidox-try a:hover {
	background-color: #3f4555;
	border-color: #3f4555;
	color: #ffffff;
	text-decoration: none;
}

.apidox-try a {
	font-family: Titillium Text;
	line-height: 42px;
	display: inline;
	vertical-align: middle;
}

.apidox-try img.loader {
	display: inline;
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 4px;
}

.apidox-subtitled {
	display: flex;
	font-family: Proxima Nova;
	font-size: 9pt;
	font-weight: 600;
	justify-content: space-between;
	line-height: 15px;
	text-transform: uppercase;
	border-bottom-color: #3a3d50;
	color: #ced1e1;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.apidox-bread {
	background-color: #262c39;
	border-bottom: 1px solid #3a3e4d;
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 22px;
	padding: 14px 20px 14px 20px;
	margin: 0px 0px 0px 0px;
	width: 100%;
}

.apidox-bread .bread {
	float: left;
	color: #959cad;
	font-weight: 100;
	line-height: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.apidox-bread .separator {
	float: left;
	color: #3a3e4d;
	line-height: 100%;
	padding: 0px 4px 0px 4px;
	margin: 0px 0px 0px 0px;
}

.apidox-bread .active {
	color: #cfd3dd;
	font-weight: 400;
	line-height: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #cfd3dd;
}

.apidox-entitled {
	color: #fff;
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 600;
	border-bottom: 1px solid #3a3e4d;
	padding: 12px 10px 12px 20px;
	margin: 0px 0px 0px 0px;
}

.apidox-request {
	border-bottom: 1px solid #3a3e4d;
	padding: 15px 10px 15px 20px;
	margin: 0px 0px 0px 0px;
}

.apidox-request span.protocol {
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-size: 12px;
	font-weight: 600;
	border: 2px solid #7ccfaf;
	border-radius: 4px;
	color: #ffffff;
	padding: 2px 6px 2px 6px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
}

.apidox-request a {
	font-size: 13px;
	color: #ffffff;
	cursor: pointer;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 22px;
}

.apidox-request span.server {
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 2px;
}

.apidox-request span.uri {
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px -2px;
	display: inline-block;
	word-wrap: break-word;
	word-break: break-all;
	-ms-word-wrap: break-word;
	-ms-word-break: break-all;
}

.apidox-request a:hover, .apidox-request a:focus {
	cursor: pointer;
	list-style-type: none;
	color: #ffffff;
	text-decoration: none;
	text-transform: none;
}

.apidox-live {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.apidox-live div.status {
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	color: #c99;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 0px 20px;
	border-bottom: 1px solid #3a3e4d;
}

.apidox-live div.body {
	font-family: Proxima Nova;
	color: #ced1e1;
	font-size: 9pt;
	font-weight: 600;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 0px 20px;
	border-bottom: 1px solid #3a3e4d;
}

.apidox-live div.json-response {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	min-height: 40px;
	max-height: 100%;
}

.apidox-tabs {
	padding: 10px 10px 0px 10px;
	margin: 0px 0px 0px 0px;
}

.apidox-tabs pre.json-examples {
	padding: 10px 20px 10px 20px;
	margin: 0px 0px 0px 0px;
	border-radius: 4px;
	max-height: 500px;
	min-height: 40px;
	word-wrap: break-word;
	word-break: break-all;
	-ms-word-wrap: break-word;
	-ms-word-break: break-all;
}

.apidox-information, .apidox-information a, .apidox-information p,
	.apidox-information span, .apidox-information div {
	font-family: Proxima Nova, Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

/* Errors Styles
----------------------------------*/
.error-section {
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 600;
	padding: 3px 0px 3px 0px;
	margin: 0px 0px 0px 0px;
}

table.errortable {
	width: 100%;
	border: 0px none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 12px 0px;
}

.errortable td {
	padding: 6px 6px 6px 6px;
	margin: 0px 0px 0px 0px;
	border: 0px none;
	border-top: 1px solid #dce0eb;
}

.errortable tr:first-child td {
	border-top: 0px none;
}

.errortable td.code {
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-size: 14px;
	white-space: nowrap;
	min-width: 48px;
}

.errortable td.description {
	font-size: 14px;
	text-align: left;
	width: 100%;
	color: #333333;
}