<!DOCTYPE method SYSTEM "method.dtd">

<method type="GET" uri="usuario/menu" description="Obtiene la configuración del menú principal de la aplicación.">

	<param name="token" type="string" description="Token de sesion." required="Y" />

	<errors>
		<error code="107" />
	</errors>

	<example>
<![CDATA[
{
	"status": "OK",
	"message": "",
	"results": 
	[
		{
			"nombre": "Test",
			"tipo": "MUESTREO",
			"orden": 0,
			"cover": "http://localhost/soydeunica-server/public/media/tiles/1/index.png"
		},
		{
			"nombre": "Test 2",
			"tipo": "ALBARANES",
			"orden": 1,
			"cover": "http://localhost/soydeunica-server/public/media/tiles/1/index.png"
		}
	]
}
]]>
	</example>

	<information><![CDATA[]]></information>

</method>

