<!DOCTYPE html>
<html>
<head>
    <title>Titillium</title>
    <link rel="stylesheet" type="text/css" href="titillium-text.css">
    <link rel="stylesheet" type="text/css" href="titillium-text-up.css">
    <style type="text/css">
    html, body {
        margin: 0;
        padding: 0;
    }
    fieldset {
        font-family: 'Titillium text';
        margin: 1em 2em;
    }
    article {
        padding: 2em;
        display: inline-block;
        vertical-align: top;
    }
    h1 {
        font-family: 'Titillium Title';
    }

    [contenteditable] {
        width: 340px;
    }

    .option-group {
        display: inline-block;
        vertical-align: top;
        padding-right: 2em;
        padding-bottom: 2em;
    }
    </style>
</head>
<body ng-app="TitilliumDemo" ng-controller="TextController">
    <a href="javascript:void(0)" ng-click="showStyles=!showStyles" style="font-family: 'Titillium Upright'; display: inline-block; margin: 1em 2em;">Show/hide settings panel</a><br>
    <fieldset ng-if="showStyles">
        <legend>Font styles</legend>
        <input id="italic" type="checkbox" ng-model="styles.italic"><label for="italic">Italic</label><br><br>
        <div class="option-group">
            <input id="text-font" type="checkbox" indeterminate-check="styles.text"><label for="text-font"><h3 style="display: inline">Titillium Text</h3></label><br>
            <input id="text-light" type="checkbox" ng-model="styles.text.light"><label for="text-light">Light</label><br>
            <input id="text-regular" type="checkbox" ng-model="styles.text.regular"><label for="text-regular">Regular</label><br>
            <input id="text-semibold" type="checkbox" ng-model="styles.text.semibold"><label for="text-semibold">SemiBold</label><br>
            <input id="text-bold" type="checkbox" ng-model="styles.text.bold"><label for="text-bold">Bold</label><br>
            <input id="text-extrabold" type="checkbox" ng-model="styles.text.extrabold"><label for="text-extrabold">ExtraBold</label>
        </div>
        <div class="option-group">
            <input id="textup-font" type="checkbox" indeterminate-check="styles.textup"><label for="textup-font"><h3 style="display: inline">Titillium Text Upright</h3></label><br>
            <input id="textup-light" type="checkbox" ng-model="styles.textup.light"><label for="textup-light">Light</label><br>
            <input id="textup-regular" type="checkbox" ng-model="styles.textup.regular"><label for="textup-regular">Regular</label><br>
            <input id="textup-semibold" type="checkbox" ng-model="styles.textup.semibold"><label for="textup-semibold">SemiBold</label><br>
            <input id="textup-bold" type="checkbox" ng-model="styles.textup.bold"><label for="textup-bold">Bold</label><br>
            <input id="textup-extrabold" type="checkbox" ng-model="styles.textup.extrabold"><label for="textup-extrabold">ExtraBold</label>
        </div>
    </fieldset>

    <article style="font-family: 'Titillium Text'" ng-hide="hideFont('text')">
        <h1>Titillium Text</h1>
        <div ng-hide="!styles.text.light">
            <h2>Light</h2>
            <p contenteditable ng-model="text" style="font-weight: 100;"></p>
            <p contenteditable ng-model="text" style="font-weight: 100; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
        <div ng-hide="!styles.text.regular">
            <h2>Regular</h2>
            <p contenteditable ng-model="text" style="font-weight: normal;"></p>
            <p contenteditable ng-model="text" style="font-weight: normal; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
        <div ng-hide="!styles.text.semibold">
            <h2>SemiBold</h2>
            <p contenteditable ng-model="text" style="font-weight: 600;"></p>
            <p contenteditable ng-model="text" style="font-weight: 600; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
        <div ng-hide="!styles.text.bold">
            <h2>Bold</h2>
            <p contenteditable ng-model="text" style="font-weight: bold;"></p>
            <p contenteditable ng-model="text" style="font-weight: bold; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
        <div ng-hide="!styles.text.extrabold">
            <h2>ExtraBold</h2>
            <p contenteditable ng-model="text" style="font-weight: 900;"></p>
            <p contenteditable ng-model="text" style="font-weight: 900; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
    </article>
    <article style="font-family: 'Titillium Upright'" ng-hide="hideFont('textup')">
        <h1>Titillium Text Upright</h1>
        <div ng-hide="!styles.textup.light">
            <h2>Light</h2>
            <p contenteditable ng-model="text" style="font-weight: 100;"></p>
            <p contenteditable ng-model="text" style="font-weight: 100; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
        <div ng-hide="!styles.textup.regular">
            <h2>Regular</h2>
            <p contenteditable ng-model="text" style="font-weight: normal;"></p>
            <p contenteditable ng-model="text" style="font-weight: normal; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
        <div ng-hide="!styles.textup.semibold">
            <h2>SemiBold</h2>
            <p contenteditable ng-model="text" style="font-weight: 600;"></p>
            <p contenteditable ng-model="text" style="font-weight: 600; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
        <div ng-hide="!styles.textup.bold">
            <h2>Bold</h2>
            <p contenteditable ng-model="text" style="font-weight: bold;"></p>
            <p contenteditable ng-model="text" style="font-weight: bold; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
        <div ng-hide="!styles.textup.extrabold">
            <h2>ExtraBold</h2>
            <p contenteditable ng-model="text" style="font-weight: 900;"></p>
            <p contenteditable ng-model="text" style="font-weight: 900; font-style: italic;" ng-hide="!styles.italic"></p>
        </div>
    </article>
    <a href="https://github.com/Chialab/titillium"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript">
    var app = angular.module('TitilliumDemo', []);

    app.directive('indeterminateCheck', function() {
        return {
            restrict: 'A',
            scope: {
                group: '=indeterminateCheck'
            },
            link: function(scope, element, attrs, ngModel) {
                element.on('change', function() {
                    var val = this.checked;
                    scope.$apply(function() {
                        if (val) {
                            for (var k in scope.group) {
                                scope.group[k] = true;
                            }
                        } else {
                            for (var k in scope.group) {
                                scope.group[k] = false;
                            }
                        }
                    });
                });

                scope.$watch('group', function() {
                    check();
                }, true);

                var full = function() {
                    for (var k in scope.group) {
                        if (scope.group[k] == false) {
                            return false;
                        }
                    }
                    return true;
                }

                var empty = function() {
                    for (var k in scope.group) {
                        if (scope.group[k]) {
                            return false;
                        }
                    }
                    return true;
                }

                var el = element[0];
                var check = function() {
                    if (full()) {
                        el.checked = true;
                        el.indeterminate = false;
                    } else if (empty()) {
                        el.checked = false;
                        el.indeterminate = false;
                    } else {
                        el.checked = true;
                        el.indeterminate = true;
                    }
                }

                check();
            }
        }
    });

    app.controller('TextController', ['$scope', function($scope) {
        $scope.showStyles = false;

        $scope.styles = {
            italic: true,
            text: {
                light: true,
                regular: true,
                semibold: true,
                bold: true,
                extrabold: true
            },
            'textup': {
                light: true,
                regular: true,
                semibold: true,
                bold: true,
                extrabold: true
            },
            'textmaps': {
                light: true,
                regular: true,
                bold: true,
                extrabold: true
            }
        };

        $scope.hideFont = function(name) {
            if ($scope.styles[name]) {
                for (var k in $scope.styles[name]) {
                    if ($scope.styles[name][k]) {
                        return false;
                    }
                }
                return true;
            }
        }

        $scope.text = 
            'The quick brown fox jumps over the lazy dog.<br>' +
            'abcdefghijklmnopqrstuvwxyz<br>' +
            'ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>' +
            '1234567890!@#$%^&amp;*()`~{}[]+=:;\'"&#8216;&#8217;&#8220;&#8221;';
    }]);

    app.directive('contenteditable', function() {
        return {
            restrict: 'A',
            require: '?ngModel',
            link: function(scope, element, attrs, ngModel) {
                if(!ngModel) return;
                ngModel.$render = function() {
                    element.html(ngModel.$viewValue || '');
                };
                element.on('blur keyup change', function() {
                    scope.$apply(read);
                });
                function read() {
                    var html = element.html();
                    if (attrs.stripBr && html == '<br>') {
                        html = '';
                    }
                    ngModel.$setViewValue(html);
                }
            }
        };
    });
    </script>
</body>
</html>