body {
	overflow-x: hidden;
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
}

a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	color: #ffffff;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
}

hr.star-light, hr.star-primary {
	margin: 25px auto 30px;
	padding: 0;
	max-width: 250px;
	border: 0;
	border-top: solid 5px;
	text-align: center;
}

hr.star-light:after, hr.star-primary:after {
	content: "\f005";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .25em;
	font-family: FontAwesome;
}

hr.star-light {
	border-color: #fff;
}

hr.star-light:after {
	color: #fff;
	background-color: #18bc9c;
}

hr.star-primary {
	border-color: #2c3e50;
}

hr.star-primary:after {
	color: #2c3e50;
	background-color: #fff;
}

.img-centered {
	margin: 0 auto;
}

header {
	text-align: center;
	color: #fff;
	background: #4178be;
}

header .container {
	padding-top: 100px;
	padding-bottom: 50px;
}

header img {
	display: block;
	margin: 0 auto 20px;
}

header .intro-text .name {
	display: block;
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
}

@media ( min-width :768px) {
	header .container {
		padding-top: 200px;
		padding-bottom: 100px;
	}
}

@media ( min-width :768px) {
	.navbar-fixed-top {
		padding: 25px 0;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
	}
	.navbar-fixed-top .navbar-brand {
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	.navbar-fixed-top.navbar-shrink {
		padding: 10px 0;
	}
	.navbar-fixed-top.navbar-shrink .navbar-brand {
		
	}
}

.navbar {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
}

.navbar a:focus {
	outline: 0;
}

.navbar .navbar-nav {
	letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
	outline: 0;
}

.navbar-default, .navbar-inverse {
	border: 0;
}

.navbar-brand {
	text-transform: none;
}

.navbar-image {
	margin: 6px 0px 0px 0px;
}

section {
	padding: 80px 0;
}

section h2 {
	margin: 0;
}

section.success {
	color: #fff;
	background: #2d3f49;
}

@media ( max-width :767px) {
	section {
		padding: 75px 0;
	}
	section.first {
		padding-top: 75px;
	}
}

.btn-outline {
	margin-top: 15px;
	border: solid 2px #fff;
	color: #fff;
	background: 0 0;
	transition: all .3s ease-in-out;
}

.btn-demo:hover, .btn-demo:focus, .btn-demo:active, .btn-demo.active {
	border: solid 2px #fff;
	color: #2d3f49;
	background: #fff;
}

.btn-try:hover, .btn-try:focus, .btn-try:active, .btn-try.active {
	border: solid 2px #fff;
	color: #2d3f49;
	background: #fff;
}

.btn-code {
	color: #2fe7be;
	border: solid 2px #fff;
}

.btn-code:hover, .btn-code:focus, .btn-code:active, .btn-code.active {
	border: solid 2px #fff;
	color: #2d3f49;
	background: #fff;
}

.floating-label-form-group {
	position: relative;
	margin-bottom: 0;
	padding-bottom: .5em;
	border-bottom: 1px solid #eee;
}

.floating-label-form-group input, .floating-label-form-group textarea {
	z-index: 1;
	position: relative;
	padding-right: 0;
	padding-left: 0;
	border: 0;
	border-radius: 0;
	background: 0 0;
	box-shadow: none !important;
	resize: none;
}

.floating-label-form-group label {
	display: block;
	z-index: 0;
	position: relative;
	top: 2em;
	margin: 0;
	line-height: 1.764705882em;
	vertical-align: middle;
	vertical-align: baseline;
	opacity: 0;
	-webkit-transition: top .3s ease, opacity .3s ease;
	-moz-transition: top .3s ease, opacity .3s ease;
	-ms-transition: top .3s ease, opacity .3s ease;
	transition: top .3s ease, opacity .3s ease;
}

.floating-label-form-group-with-value label {
	top: 0;
	opacity: 1;
}

.floating-label-form-group-with-focus label {
	color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
	border-top: 1px solid #eee;
}

footer {
	color: #fff;
}

footer h3 {
	margin-bottom: 30px;
}

footer .footer-above {
	padding-top: 50px;
	background-color: #20343e;
}

footer .footer-col {
	margin-bottom: 50px;
}

footer .footer-below {
	padding: 25px 0;
	background-color: #2d3f49;
}

.btn-social {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
	text-align: center;
	line-height: 45px;
}

.btn:focus, .btn:active, .btn.active {
	outline: 0;
}

.scroll-top {
	z-index: 1049;
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
}

.scroll-top .btn {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	line-height: 28px;
}

.scroll-top .btn:focus {
	outline: 0;
}

/*=================================================*/
h2 {
	padding: 0px 0px 30px 0px;
	margin: 0px 0px 0px 0px;
}

#header-section {
	padding: 110px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #4178be;
	color: #fff;
}

#demo {
	background-color: #f3f6fc;
}

.footer-above {
	
}

.footer-below {
	background-color: red;
}

/*=================================================*/
#overview {
	background-color: #f2f3f7;
}

.key-box {
	height: 250px;
	background: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 12px 0px 12px 0px;
}

.key-box:hover {
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, .05);
}

.key-vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
	height: 250px;
	vertical-align: middle;
	padding: 35px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	width: 100%;
}

i.key-icon {
	color: #5aaafa;
	font-size: 80px;
	text-align: center;
	margin: auto;
	display: block;
}

div.key-title {
	font-size: 26px;
	text-align: center;
	padding: 6px 6px 6px 6px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
}

div.key-body {
	font-size: 18px;
	text-align: center;
	padding: 6px 6px 6px 6px;
	margin: 0px 0px 0px 0px;
}

/*=================================================*/
#work {
	padding: 60px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #718092;
}

.demo-subtitle p {
	padding: 6px 6px 6px 6px;
	margin: 20px 0px 20px 0px;
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.demo-info p {
	padding: 6px 6px 6px 6px;
	margin: 20px 0px 0px 0px;
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.demo-screen {
	padding: 6px 6px 0px 6px;
	margin: 40px 0px 0px 0px;
	text-align: center;
}

.browser-chrome-bar1 {
	background-color: #e9eef4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 24px;
}

.browser-chrome-bar1 img {
	float: left;
}

.browser-chrome-bar2 {
	background-color: #d9e0e9;
	height: 20px;
}

.demo-screen img.full {
	display: block;
	width: 100%;
}

.sample-code {
	font-family: Source Code Pro, Monaco, Lucida Console, Terminal,
		monospace;
	font-size: 14px;
	border-left: 1px solid #eee;
	line-height: 24px;
}

div.sample-title {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	padding: 0px 6px 34px 6px;
	margin: 0px 0px 0px 0px;
}

div.sample-code {
	overflow-y: scroll !important;
	white-space: nowrap;
}

.sample-code span.node {
	color: #6e71da;
}

.sample-code span.attibute {
	color: #32b95f;
}

.sample-code span.value {
	color: #ff5f97;
}

.sample-code span.cdata {
	color: #c0c8da;
}

#claim {
	background: #20343e;
	color: #fff;
	padding: 34px 6px 34px 6px;
	margin: 0px 0px 0px 0px;
}

div.claim-title {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 26px;
	text-align: center;
}

.header-sub {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 26px;
	padding: 34px 6px 16px 6px;
	margin: 0px 0px 0px 0px;
}

.header-demo {
	padding: 0px 6px 32px 6px;
	margin: 0px 0px 0px 0px;
}

@media ( max-width :1200px) {
	.header-image {
		display: none;
	}
}

.btn-demo {
	color: #20343e;
	border: 2px solid #20343e;
}

.btn-try {
	color: #fff;
	border: 2px solid #fff;
}

.demo-title {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	padding: 16px 6px 16px 6px;
	line-height: 30px;
}

.demo-subtitle {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	padding: 16px 6px 16px 6px;
	line-height: 30px;
}

.download-info {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
}

.footer-title {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 26px;
	padding: 0px 0px 0px 0px;
	margin: px 0px 12px 0px;
	line-height: 12px;
	color: #8f9bff;
}

ul.footer-team {
	list-style-type: none;
}

.footer-team li {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	padding: 0px 0px 0px 0px;
	margin: px 0px 12px 0px;
}

.footer-open {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	padding: 0px 0px 0px 0px;
	margin: px 0px 12px 0px;
}

.team-sub a {
	color: #718092;
}

.footer-company {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #718092;
}

.footer-company  a {
	font-family: Fira Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #718092;
}